
.DS_Store
.gitattributes
.metadata/.DS_Store
.metadata/.log
.metadata/.mylyn/.DS_Store
.metadata/.mylyn/tasks.xml.zip
.metadata/.plugins/org.eclipse.core.resources/.history/34/20a284f5f9c000181d5e81072163666c
.metadata/.plugins/org.eclipse.core.resources/8.snap
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.ui.prefs
.metadata/.plugins/org.eclipse.debug.ui/launchConfigurationHistory.xml
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
.metadata/.plugins/org.eclipse.jdt.launching/.install.xml
.metadata/.plugins/org.eclipse.recommenders.news.impl/downloads/http%3A%2F%2Fwww.eclipse.org%2Fhome%2Feclipsenews.rss
.metadata/.plugins/org.eclipse.recommenders.news.impl/downloads/http%3A%2F%2Fwww.eclipse.org%2Frecommenders%2Ffeeds%2Fide.rss
.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
AlgoAndDataStruct/bin/CollinearTest.class
AlgoAndDataStruct/bin/Collinear.class
/.metadata/
AlgoAndDataStruct/.classpath
AlgoAndDataStruct/.project
.recommenders/index/http___download_eclipse_org_recommenders_models_photon_/_0.fdt
.recommenders/index/http___download_eclipse_org_recommenders_models_photon_/_0.fdx
.recommenders/index/http___download_eclipse_org_recommenders_models_photon_/_0.fnm
.recommenders/index/http___download_eclipse_org_recommenders_models_photon_/_0.frq
.recommenders/index/http___download_eclipse_org_recommenders_models_photon_/_0.nrm
.recommenders/index/http___download_eclipse_org_recommenders_models_photon_/_0.prx
.recommenders/index/http___download_eclipse_org_recommenders_models_photon_/_0.tii
.recommenders/index/http___download_eclipse_org_recommenders_models_photon_/_0.tis
.recommenders/index/http___download_eclipse_org_recommenders_models_photon_/segments.gen
.recommenders/index/http___download_eclipse_org_recommenders_models_photon_/segments_1
.recommenders/index/http___download_eclipse_org_recommenders_models_photon_/write.lock
